<section id="home" class="d-flex justify-content-center align-items-center">
  <div class="container">
    <h1 class="fw-bolder w-50 mb-3">
      Full Set Of Great Features To Make You Look Fresh
    </h1>
    <p class="w-50 fw-medium">
      Massa sed elementum tempus egestas sed sed risus. Risus at ultrices mi
      tempus imperdiet nulla malesuada pellentesque elit.
    </p>
    <button class="text-capitalize btn btn-dark btn-custom mb-3">
      see collection
    </button>
  </div>
</section>
