#card .card {
  cursor: pointer;
  transition: 0.5s transform;
}
#card .card:hover {
  transform: scale(1.07);
}
#card .card figure div {
  top: 1.25rem;
  left: 1.25rem;
  right: 1.25rem;
}
#card .card figure div .fav-btn {
  width: 1.75rem;
  height: 1.75rem;
}
